/* Remove default margin and padding for body. */
/* This removes whitespace at the edges of the navbar. */
html, body{

    margin: 0px;
    padding: 0px;

}

table.schedule { 
    width: 100%;
    table-layout: fixed; 

    border: 1px solid black;
    border-collapse: collapse;
}

table.schedule th {
    border: 1px solid black;
    border-collapse: collapse;
}

table.schedule td {
    width: 25%;
    height: 25%;
    border: 1px solid black;
    border-collapse: collapse;
}

ul.navlist li {

    display:inline-block;
    padding-inline: 5px;
    text-align: center;

}

h1 {
    color: navy;
    margin-left: 20px;
}

a {



}

/* Fonts */

@font-face {
    font-family: 'Changa';
    src: url('../fonts/Changa-Medium.ttf') format("truetype");

}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Variable.ttf') format("truetype");
}