/* Remove default margin and padding for body. */
/* This removes whitespace at the edges of the navbar. */
html, body{

    margin: 0px;
    padding: 0px;

}

/* Create a CSS Grid object through a div with the class "maingrid" */
/* This div will serve as the main "grid" for the page. */
div.maingrid {

    display: grid;
    width: 100vw;
    height: 90vh;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "introduction introduction introduction introduction"
    "portfolio assignment schedule schedule"
    "portfolio assignment schedule schedule"

}

/* Any child of div.maingrid should be a grid object. */
div.maingrid #introduction {

    grid-area: introduction;
    background-color: blueviolet;

}
div.maingrid #assignment {

    grid-area: assignment;
    background-color: aqua;

}
div.maingrid #portfolio {

    grid-area: portfolio;
    background-color: brown;

}
div.maingrid #schedule {

    grid-area: schedule;
    background-color: orangered;

}

table.schedule { 
    width: 100%;
    table-layout: fixed; 

    border: 1px solid black;
    border-collapse: collapse;
}

table.schedule th {
    border: 1px solid black;
    border-collapse: collapse;
}

table.schedule td {
    width: 25%;
    height: 25%;
    border: 1px solid black;
    border-collapse: collapse;
}

ul.navlist li {

    display:inline-block;
    padding-inline: 5px;
    text-align: center;

}

h1 {
    color: navy;
    margin-left: 20px;
}