/* Variables */
:root{

    --background: linear-gradient(var(--headerbackground), var(--footerbackground));
    --gridbackground: #000f3b;
    --griddivglow1: var(--headerlogo1);
    --griddivglow2: var(--headerlogo2);
    
    --headerbackground: #001b4d;
    --headerbutton: #000f3b;
    --headerbuttontext: #eee;
    --headerlogo1: #4CC9F0;
    --headerlogo2: #4361EE;

    --footerbackground: #001233;
    --footertext: #eee;

    --dividerbackground: linear-gradient(45deg, var(--headerlogo1), var(--headerlogo2), var(--headerlogo1));

    --text: #eee;
    --pulse: sweep 7s linear infinite;
    
    --theadback: #003F87;
    --trowoddback: #1C86EE;
    --trowevenback: #1874CD;
    --ttext: #eee;
    --tcolheadback: #003F87;

}

/* Remove default margin and padding for body. */
/* This removes whitespace at the edges of the navbar. */
body{

    margin: 0px;
    padding: 0px;

    overflow: hidden;

}

/* Create a CSS Grid object through a div with the class "maingrid" */
/* This div will serve as the main "grid" for the page. */
div.maingrid {

    display: grid;
    background: linear-gradient(var(--headerbackground), var(--footerbackground));
    z-index: 0;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
    max-width: 90vw;
    max-height: 80vh;
    width: 90vw;
    height: 90vh;
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* Forces equal widths for div */
    grid-auto-flow: column;
    grid-template-areas: 
    "challenge response"

}

div.maingrid div{

    background-color: var(--gridbackground);
    color: white;
    font-family: Inter;
    word-wrap: break-word;

}

div.maingrid p{

    font-family: Inter;
    line-height: calc(1em + 2px);
    text-align: left;

}

div.rounded {

    border-radius: 20px;
    margin: 10px;
    padding: 17px; 
    box-shadow: 
    inset 0 0 5px var(--griddivglow1),
    0 0 10px var(--griddivglow2);
    

}

div.maingrid #interface{

    padding: 25px;
    display: flex;
    flex-direction: column;

}

div.maingrid #prompt{

    padding: 25px;
    display: flex;
    flex-direction: row;
    align-items: stretch;

}

div.maingrid #display{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

}

div.maingrid #stage{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;

}

div.rounded-inner {

    flex: 1;
    border-radius: 20px;
    margin: 5px;
    padding: 15px; 
    box-shadow: 
    inset 0 0 5px var(--griddivglow1),
    0 0 10px var(--griddivglow2);
    
}

@font-face {
    font-family: 'Changa';
    src: url('../fonts/Changa-Medium.ttf') format("truetype");

}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Variable.ttf') format("truetype");
}